/*Shared*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #272c32;
    color: #868991;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.hide {
    display: none;
}

/*Header*/

.header {
    height: 100px;
    background-color: #3F4651;
    position: relative;
}

.logo {
    padding: 10px;
}

.logo img {
    width: 70px;
}

.submit-button {
    text-align: center;
    width: 200px;
    height: 30px;
    cursor: pointer;
}

#input-button.submit-button {
    position: absolute;
    right: 0;
    top: 30px;
}

/*Content*/
.row{
    /*width: 80%;*/
    /*margin: 20px auto 0 auto;*/
}

.item{
    float: left;
}

div.mosaic-row svg {
    float: left;
    height: 100%;
    display: block;
}