/*Shared*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #272c32;
    color: #868991;
    font-family: 'Open Sans', sans-serif;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

/*Header*/
.header {
    /*height: 100px;*/
    background-color: #3F4651;
    /*position: relative;*/
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.header .item {
    width: 50%;
    align-self: center;
}

.logo {
    padding: 10px 0 10px 30px;
}

.logo img {
    max-width: 70px;
}

.submit-button {
    text-align: center;
    /*width: 50%;*/
    height: 30px;
    cursor: pointer;
    float: right;
    margin-right: 30px;
}

#input-button.submit-button {
    font-size: 20px;
}

/*Content*/
.row {
    width: 80%;
    margin: 20px auto 0 auto;
}

.item {
    float: left;
}

div.mosaic-row svg {
    float: left;
    height: 100%;
    display: block;
}

/*Backdrop*/
#backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: white;
    display: none;
}

#backdrop .content {
    font-size: 60px;
    width: 100%;
    text-align: center;
    margin-top: 20%;
}

/*Small Screen*/
@media screen and (max-device-width: 700px) {

    .logo img {
        min-width: 10%;
        max-width: 30%;
    }

    #input-button.submit-button {
        font-size: 2em;
    }
}